footer {
    max-width: 900px; /* El mismo ancho máximo que .about-container */
    margin: auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade un poco de relleno alrededor del texto */
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 14px; /* Tamaño de fuente de 14px */
    color: #E4E4E7E6; /* Color de texto #E4E4E7E6 */
}