.experience-container {
    max-width: 900px; /* Limita el ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor en la página */
    width: 100%;
    text-align: left;
    padding: 20px 0;
}

.experience-item {
    border-left: 2px solid #FACC15;
    padding-left: 20px;
    margin-left: 12px;
    margin-top: -15px;
    margin-bottom: 30px;
    position: relative;
}

.experience-item .date {
    margin-bottom: 5px;
}

.title {
    font-weight: bold;
    color: #FACC15;
}

.description {
    margin-top: 40px;
}

.title, .company {
    font-size: 20px; /* Aumenta el tamaño para destacar */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.date {
    display: block;
    font-size: 14px; /* Reduce el tamaño de la fecha */
    font-style: italic;
    color: #FFFFFFCC;
}

.description p {
    margin-bottom: -5px; /* Reduce the distance between paragraphs */
    font-size: 16px;
    color: #D1D5DB; /* a futuro cambiar el color del texto a otro */
}